-
  let cardsLink = [
    {
      text: "SAE en Linea",
      link: "https://saeutp.zendesk.com/hc/es"
    },
    {
      text: "CARMEN",
      link: "https://carmen.utp.edu.pe/login"
    },
    {
      text: "Chattigo",
      link: "https://login.chattigo.com/pages/login"
    },
    {
      text: "P. Estudiante",
      link: "https://portalestudiante03.utp.edu.pe/SimulacionAcceso/SimularAcceso"
    }
  ];

  let cardsInfo = [
    {
      id: "card-1",
      title: "Deuda Pendiente",
      text: "隆Hola!  Te saluda 'X' de SAE. Para poder conocer tu deuda pendiente, solo debes marcar al (01) 315-9600 opci贸n 1 - 1",
      class: "smallCard"
    },
    {
      id: "card-2",
      title: "Codigo de Alumno",
      text: "隆Hola!  Te saluda 'X' de SAE. Para poder conocer tu c贸digo de alumno puedes comunicarte al (01) 315-9600 opci贸n 1 - 2",
      class: "smallCard"
    },
    {
      id: "card-3",
      title: "A. Plataformas",
      text: "隆Hola!  Te saluda 'X' de SAE. Si tienes consultas sobre el acceso a tus plataformas UTP, puedes comunicarte al (01) 315-9600 opci贸n 1 - 3",
      class: "smallCard"
    },
    {
      id: "card-4",
      title: "SAE",
      text: "隆Hola!  Te saluda 'X'. Si deseas comunicarte con SAE, puedes comunicarte al (01) 315-9600 opci贸n 1 - 4",
      class: "smallCard"
    }
  ];

doctype html
html(lang="es")

  include ../includes/head.pug

    block title
      title UTP CENTER | Atencion al Estudiante

  body.grid
    include ../includes/header.pug

    main.main.grid-main
      section.content-cardsLink
        for cardLink of cardsLink
          .cardLink
            a(href=`${cardLink.link}` target="_blank")= cardLink.text

      section.intro
        h1.title Datos Generales

        for cardInfo in cardsInfo
          .cardCopy(id=`${cardInfo.id}` class=`${cardInfo.class}`)
            .cardCopy__head
              h2= cardInfo.title
              p.iconCopy
                img(src="images/icon-copy.svg", alt="icon copy")
            textarea(readonly="true" class="textCopy")= cardInfo.text

    include ../includes/footer.pug

    script(src="script/app.js") 